name: CI Portal Vega

# ¿Cuándo se activa el robot?
on:
  push:
    branches: [ "main", "feature/*" ] # Cada vez que subas código a estas ramas
  pull_request:
    branches: [ "main" ]

jobs:
  # Tarea 1: Probar el Backend
  test-backend:
    runs-on: ubuntu-latest # Usamos una máquina Linux virtual
    
    defaults:
      run:
        working-directory: ./backend # ¡Importante! Todo ocurre en la carpeta backend

    steps:
    # 1. Descargar tu código
    - name: Checkout del código
      uses: actions/checkout@v4

    # 2. Instalar Python
    - name: Instalar Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    # 3. Instalar las librerías (usando la lista que creamos)
    - name: Instalar Dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Ejecutar las pruebas (¡El momento de la verdad!)
    - name: Correr Pruebas con PyTest
      run: |
        # Creamos el archivo .env temporalmente para la prueba (si fuera necesario)
        pytest